[Unit]
Description=Power down and restart RAID disks simultaneously

[Service]
EnvironmentFile=/etc/raid-sleep.conf

ExecStart=/usr/local/sbin/raid-sleep --timeout $TIMEOUT $MONITOR $DISKS
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
